@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
nav {
	background-color: #333;
	width: 250px;
	height: 100vh;
	position: fixed;
}
nav ul {
	list-style-type: none;
	margin-top: 125px;
}
nav ul li {
	color: #ddd;
	padding: 20px;
	width: 250px;
	cursor: pointer;
	transition: 0.3s;
	margin-bottom: 20px;
}
nav ul li:hover {
	background-color: #ddd;
	color: #333;
}
nav h1 {
	text-align: center;
	text-transform: uppercase;
	color: #ccc;
	margin-top: 50px;
	margin-bottom: -50px;
	letter-spacing: 2px;
}
/*---------------------------------------------------*/
header {
	width: 100%;
	height: 60px;
	background-color: #ddd;
	box-shadow: 0.5px 0.5px 5px #ddd;
}
.profile img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-left: 10px;
}
.profile {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	line-height: 60px;
	margin-right: 20px;
	cursor: pointer;
	user-select: none;
	padding: 0 10px;
	transition: 0.3s;
}
.profile:hover {
	color: #ddd;
	background-color: #555;
}
.profile p {
	font-size: 16px;
	font-weight: 800;
	line-height: 60px;
}
/* **********************************/
.profile-hoverbox {
	position: absolute;
	right: 0;
	margin-right: 7px;
	width: 200px;
	height: 0px;
	background-color: #ddd;
	display: block;
	transition: 0.4s;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.30);
	z-index: 9;
}
.profile-text {
	transition: 0.8s;
	display: none;
}
.profile-text ul {
	list-style-type: none;
}
.profile-text ul li {
	padding: 25px;
}
.profile-text ul li a {
	text-decoration: none;
	color: #333;
	font-weight: 450;
}
.profile-text ul li a:hover {
	font-weight: 800;
}

/*-----------------------------------------*/

.panel-name {
	position: absolute;
	margin-left: 270px;
	border-bottom: 3px solid #555;
}
.panel-name h2 {
	padding: 20px 0;
	color: #333;
}

.info-section {
	width: 1000px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-41%, -40%);
	display: flex;
	justify-content: space-between;
	visibility: visible;
}

.info-box {
	width: 210px;
	height: 120px;
	margin: 20px;
	border-radius: 5px;
	background-color: #ddd;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.30);
	transition: 0.3s;

}
.info-box:hover {
	height: 240px;
}

.info-box h3 {
	padding: 10px;
}

.info-box span {
	font-size: 32px;
	padding: 10px;
	color: #ff3366;
	font-weight: bold;
}

.info-box:hover {
	transform: scale(1.1);
}


.active {
	background-color: #ddd;
	color: #333;
}
/*-------------------------------------*/
/*
.panel-form {
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translateX(-50%);
	display: none;
}
*/


.show {
	display: block;
}

.removeShow {
	display: none;
}

/*----------------------------------------------*/

.panel-form {	
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-100%, -80%);
	width: 400px;
	align-items: center;
	outline: none;
	display: none;
	margin-top: 50px;
}

.panel-form input {
	transition: 0.3s;
}

.panel-form input[type=text] {
	width: 350px;
	margin-left: 25px;
	padding: 10px 14px;
	margin-bottom: 20px;
	border: 2px solid #ddd;
	outline: none;
	border-radius: 3px;
	color: #333;
}

.panel-form input[type=text]:hover {
	border: 2px solid #333;
}

.panel-form input[type=text]:focus {
	width: 380px;
	margin-left: 10px;
	border: 2px solid #333;
}

.panel-form button {
	width: 350px;
	border: 2px solid #333;
	background-color: #333;
	color: #ddd;
	margin-left: 25px;
	padding: 8px 0;
	font-weight: bold;
	letter-spacing: 2px;
	border-radius: 3px;
	transition: 0.3s;
	cursor: pointer;
	outline: none;
}

.panel-form button:hover {
	background-color: #fff;
	color: #333;
	border: 2px solid #333;
}

/*---------------------*/

.hakkinda-panel {
	width: 780px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-40%);
	display: none;
}

.hakkinda-panel form {

}
.hakkinda-panel form input, textarea {
	width: 500px;
	margin: 10px;
	padding: 8px;
	outline: none;
	border: 2px solid #ddd;
	border-radius: 3px;
	transition: 0.3s;
}

.hakkinda-panel form textarea {
	height: 200px;
}

.hakkinda-panel form button {
	margin: 10px;
	width: 500px;
	padding: 7px 0;
	border: 2px solid #333;
	background-color: #fff;
	border-radius: 3px;
	color: #333;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
	transition: 0.3s;
}

.hakkinda-panel form button:hover {
	background-color: #333;
	color: #fff;
}

.hakkinda-panel form input:hover, textarea:hover {
	border: 2px solid #333;
}

.hakkinda-panel form input:focus, textarea:focus {
	width: 550px;
	border: 2px solid #333;
	margin-left: 25px;
}